.product-item {
    padding: 0.9375rem;
}

.img-product {
    overflow: hidden; 
    position: relative;
}

.img-product img{
    vertical-align: middle;
    border-style: none;
}

.img-responsive{
    width: 100%;
    max-width: 400px;
    height: auto;
}

.info-product{
    font-family: GTWalsheim;
    font-size: 14px;
    font-weight: 400;
    color: #000; 
}

.title-product {
    padding: 20px 0 4px 0;
}

.price-product{

}