.paginator {
    display: flex;
    align-items: center;
    justify-content: center;
}

.paginator-first{
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.angle-arrow{
    font-size: 20px;
}

.paginator .arrow{
    border: 0;
    min-width: 2.5rem;
    height: 2.5rem;
    margin: .2rem;
    border-radius: 3px;
    cursor: pointer;
}

.paginator .arrow:hover{
    color: #6c757d;
}

.paginator-pages{
    display: inline-block;
    min-width: 2.5rem;
    height: 2.5rem;
    background: #2196f3;
    border: 0;
    border-radius: 3px;
    font-weight:300;
    color:#FFFFFF;
}